{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Item{% endblock %}

{% block content %}
{% include "header.html" %}
			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon solid fa-clipboard-list"></span>
						<h2>Edit Item</h2>
					</header>

					<!-- Edit Item -->
						<section class="wrapper style4 special container medium">
							<img class="image-edit" src="/static/img/{{ item.img_url }}">
							<!-- Form area -->
								<div class="content">
									{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
									{{ ckeditor.load() }}
                        			{{ ckeditor.config(name='description') }}
									{{ text|safe() }}
								</div>
						</section>
				</article>
{% include "footer.html" %}
{% endblock %}