{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Task{% endblock %}

{% block content %}
{% include "header.html" %}
				<!-- Main -->
					<div id="main">
                      <!-- Add New Task -->
						<article id="item" class="panel">
							<header>
								<h2>New Task</h2>
							</header>
							{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
						</article>
					</div>
{% include "footer.html" %}
{% endblock %}