@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: SourceSansPro-Regular;
  src: url(../../public/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../../public/SourceSansPro-Bold.ttf);
}

/* Project backgrounds */
/* All Sections */
.bg-project {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 06 - Professional */
.bg-081-morse-code-translator {
  background-image: url(../../public/081-morse-code-translator.jpg);
}

.bg-082-task-manager-django {
  background-image: url(../../public/082-task-manager-django.jpg);
}

.bg-083-tic-tac-toe-game {
  background-image: url(../../public/083-tic-tac-toe-game.jpg);
}



.bg-098-space-missions-analysis {
  background-image: url(../../public/098-space-missions-analysis.jpg);
}

.bg-099-fatal-force-analysis {
  background-image: url(../../public/099-fatal-force-analysis.jpg);
}

.bg-100-determinants-of-earnings-analysis {
  background-image: url(../../public/100-determinants-of-earnings-analysis.jpg);
}

/* 04 - Web Foundation */
.bg-041-044-personal-site-html {
  background-image: url(../../public/041-044-personal-site-html.jpg);
}

.bg-041-044-personal-site-css {
  background-image: url(../../public/041-044-personal-site-css.jpg);
}

.bg-054-intro-to-flask {
  background-image: url(../../public/054-intro-to-flask.jpg);
}

.bg-055-guess-the-number {
  background-image: url(../../public/055-guess-the-number.jpg);
}

.bg-056-name-card-project {
  background-image: url(../../public/056-name-card-project.jpg);
}

.bg-056-personal-site-practice-with-flask {
  background-image: url(../../public/056-personal-site-practice-with-flask.jpg);
}

.bg-057-blog-web-app-v1 {
  background-image: url(../../public/057-blog-web-app-v1.jpg);
}

.bg-058-tindog-website {
  background-image: url(../../public/058-tindog-website.jpg);
}

/* 03 - Intermediate + */
.bg-032-birthday-email-automation {
  background-image: url(../../public/032-birthday-email-automation.jpg);
}

.bg-033-iss-email-notifications {
  background-image: url(../../public/033-iss-email-notifications.jpg);
}

.bg-034-quizzler-app {
  background-image: url(../../public/034-quizzler-app.jpg);
}

.bg-035-rain-text-alert {
  background-image: url(../../public/035-rain-text-alert.jpg);
}

.bg-036-stock-text-alert {
  background-image: url(../../public/036-stock-text-alert.jpg);
}

.bg-037-habit-tracker {
  background-image: url(../../public/037-habit-tracker.jpg);
}

.bg-038-workout-tracker {
  background-image: url(../../public/038-workout-tracker.jpg);
}

.bg-045-movies-web-scraper {
  background-image: url(../../public/045-movies-web-scraper.jpg);
}

.bg-046-spotify-playlist-automation {
  background-image: url(../../public/046-spotify-playlist-automation.jpg);
}

.bg-047-amazon-price-tracker {
  background-image: url(../../public/047-amazon-price-tracker.jpg);
}

.bg-049-great-teacher {
  background-image: url(../../public/049-great-teacher.jpg);
}

.bg-050-photo-collector {
  background-image: url(../../public/050-photo-collector.jpg);
}

.bg-053-zillow-research {
  background-image: url(../../public/053-zillow-research.jpg);
}

/* 02 - Intermediate */
.bg-015-coffee-machine-basic {
  background-image: url(../../public/015-coffee-machine-basic.jpg);
}

.bg-016-coffee-machine-oop {
  background-image: url(../../public/016-coffee-machine-oop.jpg);
}

.bg-017-quizbrain {
  background-image: url(../../public/017-quizbrain.jpg);
}

.bg-018-dot-painting-app {
  background-image: url(../../public/018-dot-painting-app.jpg);
}

.bg-019-etch-a-sketch-app {
  background-image: url(../../public/019-etch-a-sketch-app.jpg);
}

.bg-019-turtle-race-game {
  background-image: url(../../public/019-turtle-race-game.jpg);
}

.bg-020-021-snake-game-v1 {
  background-image: url(../../public/020-021-snake-game-v1.jpg);
}

.bg-024-snake-game-v2 {
  background-image: url(../../public/024-snake-game-v2.jpg);
}

.bg-022-pong-game {
  background-image: url(../../public/022-pong-game.jpg);
}

.bg-023-turtle-crossing-game {
  background-image: url(../../public/023-turtle-crossing-game.jpg);
}

.bg-024-mail-merge-app {
  background-image: url(../../public/024-mail-merge-app.jpg);
}

.bg-025-us-states-game {
  background-image: url(../../public/025-us-states-game.jpg);
}

.bg-026-nato-phonetic-alphabet {
  background-image: url(../../public/026-nato-phonetic-alphabet.jpg);
}

.bg-027-mi-to-km-converter {
  background-image: url(../../public/027-mi-to-km-converter.jpg);
}

.bg-028-pomodoro-app {
  background-image: url(../../public/028-pomodoro-app.jpg);
}

.bg-029-030-password-manager {
  background-image: url(../../public/029-030-password-manager.jpg);
}

.bg-031-flash-card-app {
  background-image: url(../../public/031-flash-card-app.jpg);
}

/* 01 - Beginner */
.bg-001-band-name-generator {
  background-image: url(../../public/001-band-name-generator.jpg);
}

.bg-002-tip-calculator {
  background-image: url(../../public/002-tip-calculator.jpg);
}

.bg-003-treasure-island-game {
  background-image: url(../../public/003-treasure-island-game.jpg);
}

.bg-004-rock-paper-scissors {
  background-image: url(../../public/004-rock-paper-scissors.jpg);
}

.bg-005-password-generator {
  background-image: url(../../public/005-password-generator.jpg);
}

.bg-006-escape-maze-problem {
  background-image: url(../../public/006-escape-maze-problem.jpg);
}

.bg-007-hangman-game {
  background-image: url(../../public/007-hangman-game.jpg);
}

.bg-008-caesar-cipher {
  background-image: url(../../public/008-caesar-cipher.jpg);
}

.bg-009-secret-auction {
  background-image: url(../../public/009-secret-auction.jpg);
}

.bg-010-calculator {
  background-image: url(../../public/010-calculator.jpg);
}

.bg-011-blackjack-game {
  background-image: url(../../public/011-blackjack-game.jpg);
}

.bg-012-number-guess-game {
  background-image: url(../../public/012-number-guess-game.jpg);
}

.bg-013-debugging-practice {
  background-image: url(../../public/013-debugging-practice.jpg);
}

.bg-014-higher-lower-game {
  background-image: url(../../public/014-higher-lower-game.jpg);
}

/* Link Underline Animation */
.project-link {
  position: relative;
  text-decoration: none;
}

.link-shadow-scripting::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(227, 37%, 79%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-scripting:hover::before {
  transform: scaleX(1);
}

.link-shadow-webDev::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(30, 90%, 55%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-webDev:hover::before {
  transform: scaleX(1);
}

.link-shadow-gui::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(350, 83%, 55%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-gui:hover::before {
  transform: scaleX(1);
}

.link-shadow-game::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(196, 79%, 56%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-game:hover::before {
  transform: scaleX(1);
}

.link-shadow-dataScience::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(44, 97%, 49%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-dataScience:hover::before {
  transform: scaleX(1);
}

.link-shadow-api::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(79, 66%, 59%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-api:hover::before {
  transform: scaleX(1);
}

.link-shadow-auto::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(227, 45%, 44%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-auto:hover::before {
  transform: scaleX(1);
}

.link-shadow-debugging::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(240, 10%, 16%, 0.3);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-debugging:hover::before {
  transform: scaleX(1);
}

.link-shadow-webScraping::before {
  box-shadow: inset 0 -0.4em 0 0 hsla(303, 66%, 61%, 0.7);
	bottom: 12px;
	content: "";
	display: block;
	height: 0.3em;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	width: 100%;
}

.link-shadow-webScraping:hover::before {
  transform: scaleX(1);
}
