<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NASA API Service</title>
</head>
<body>
    <h1>Welcome to the NASA API Service</h1>
    <p><a href="https://api.nasa.gov/index.html">NASA API Documentation</a></p>

    <h2>Check Out My Custom Pages Using NASA's API</h2>
    <p><a href="/astro">Astronomy Picture of the Day</a></p>
    <p><a href="/mars-weather">Mars Weather</a></p>
    <p><a href="/mars-photos/curiosity/1000">Mars Rover Photos</a></p>
    <p><a href="/space-weather">Space Weather Notifications</a></p>
    <p><a href="/asteroids">Asteroids Nearest to Earth</a></p>
</body>
</html>