{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Order History{% endblock %}

{% block content %}
{% include "header.html" %}
			<!-- Main -->
				<article id="shopping-cart">

					<header class="special container">
						<span class="icon solid fa-parachute-box"></span>
						<h2>Your Past Orders</h2>
					</header>

					<!-- Order History -->
						<section class="wrapper style4 special container medium">

							<!-- Form area -->
								<div class="content">
									{% for i in ids %}
									<h3>Order #{{ i }}</h3>
									<table class="table">
										<thead>
											<th>Date</th>
											<th>Product</th>
											<th>Quantity</th>
											<th>Price</th>
											<th>Status</th>
										</thead>
										<tbody>
										{% for o in order %}
										{% if i == o.order_id %}
										<tr>
											<td>{{ o.date }}</td>
											<td>{{ o.parent_item.name }}</td>
											<td>{{ o.quantity }}</td>
											<td>${{ o.parent_item.price }}</td>
											<td>{{ o.status }}</td>
										</tr>
										{% endif %}
										{% endfor %}
										</tbody>
									</table>
									<hr>
									{% endfor %}
								</div>
						</section>
				</article>
{% include "footer.html" %}
{% endblock %}